  <footer class="footer">
    <div class="footerBackground">
        <div class="logo">
            <img src="/img/homepage/logoErgogene.webp" alt="Logo Ergogene" loading="lazy">
        </div>

        <div class="telephone">
            <img src="/img/icons/iphone.svg" alt="Téléphone" loading="lazy">
            <p>Appelez-nous</p>
            <p>06 68 16 72 71</p>
        </div>
        
        <div class="socialMedia">
            <img src="/img/icons/information.svg" alt="Information" loading="lazy">
            <p>Retrouvez-nous</p>
            <div class="socialMediaIcons">
                <a href="https://www.linkedin.com/in/maite-kindts-76463a146/" aria-label="Linkedin">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <!-- !Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                        <path d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"/>
                    </svg>
                </a>
                <a href=" https://www.facebook.com/profile.php?id=100091559824637" aria-label="Facebook">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <!-- !Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                        <path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="mail">
            <img src="/img/icons/email.svg" alt="Email" loading="lazy">
            <p>Contactez-nous</p>
            <a href="mailto:maitekindts@ergogene.fr">maitekindts@ergogene.fr</a>
        </div>
    </div>

    <div class="footer__info">
        <p class="footer__info">&copy; 2023 <span>ERGOGENE</span>, tous droits reserves</p>
        <p class="footer__info">
            <a href="/mentions-legales">Mentions légales</a> | <a href="/politique-de-confidentialite">Politique de confidentialité</a>
        </p>   
    </div>

    <button id="scrollToTopBtn" aria-label="To top">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
        </svg>          
    </button>
</footer>