<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= locals.description || 'Ergogene website mainpage' %>">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <% if (locals.styles) { %>
        <% styles.forEach(style => { %>
            <link rel="stylesheet" href="<%= style %>">
        <% }) %>
    <% } %>
    <link
        rel="preload"
        href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Oswald:wght@700&display=swap"
        as="style"
        onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
        <link
            href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Oswald:wght@700&display=swap"
            rel="stylesheet"
            type="text/css"
        />
    </noscript>
    <title><%= title %></title>
</head>