<!DOCTYPE html>
<html lang="fr">
<%- include('./components/head.ejs', { title: 'Confidentialité | Ergogene', description: 'Découvrez la politique de confidentialité d&#39;Ergogene, y compris les types d&#39;informations collectées, la finalité de la collecte des informations, l&#39;utilisation et le stockage des informations, le partage éventuel d&#39;informations avec des tiers, la sécurité des informations personnelles, les droits et choix des utilisateurs concernant leurs données, ainsi que la procédure de mise à jour des informations personnelles.' }) %>
<body>
    <%- include('./components/header.ejs') %>

		<main class="confidentiality container">
			<h1>Politique de Confidentialité</h1>
			<p>Cette politique de confidentialité décrit comment vos informations personnelles sont collectées, utilisées et partagées lorsque vous visitez notre site.</p>
			<ul>
				<li>Types d'informations collectées (nom, adresse e-mail, etc.).</li>
				<li>Finalité de la collecte des informations.</li>
				<li>Comment les informations sont utilisées et stockées.</li>
				<li>Partage éventuel d'informations avec des tiers.</li>
				<li>Sécurité des informations personnelles.</li>
				<li>Droits et choix des utilisateurs concernant leurs données.</li>
				<li>Procédure de mise à jour des informations personnelles.</li>
			</ul>
		</main>
		<%- include('./components/footer.ejs') %>
	
	<script src="scripts/main.js"></script>
</body>
</html>
