<!DOCTYPE html>
<html lang="fr">
    <%- include('./components/head.ejs', { title: 'Ergogene', description: 'Découvrez Ergogene, votre partenaire en ergonomie et organisation du travail. Nous offrons des services sur mesure pour répondre à vos besoins, incluant conseils, conception et formations. Rencontrez nos experts et explorez nos services dès aujourd&#39;hui.' }) %>
<body>
    <%- include('./components/header.ejs') %>
        
    <section class="hero">
        <div class="headband">  
            <picture>
                <source media="(min-width: 800px)" srcset="/img/homepage/heroDesktop_min.webp" type="image/webp" />
                <img style="width: 100%; height: auto" src="/img/homepage/heroMobile_min.webp" alt="Banner" />
            </picture>

            <div class="tagline">
                <h1 class="banner">Co-créons votre succès ergonomique</h1>
                <div class="discovery">
                    <p>Conseil, conception, formation</p>
                    <a href="/formations" class="discovery">En savoir plus</a>
                </div>
            </div>
        </div> 
    </section>

    <main>    
        <article class="aboutUs container">
            <div class="titleLeft">
                <h2>QUI SOMMES NOUS ?</h2>
            </div>
            <div class="aboutUsContent row">
                <div class="aboutUsText column">
                    <p><b>Ergogene</b> du grec « ergos » le travail et  « genos » l’origine. Ergogene est un cabinet de
                        conseils en ergonomie et en organisation de travail, intervenant sur l’ensemble de la France
                        métropolitaine, les DOM et le Maghreb.
                    </p>
                    <p><b>Nos experts vous accompagnent</b> sur vos projets de prévention des risques professionnels,
                        organisationnels, architecturaux, de conduite de changement… En résumé, nos experts en
                        organisation du travail peuvent vous accompagner sur l’ensemble de vos projets où le travail
                        et notamment l’homme au travail est source de réflexion et de besoins de transformations.
                    </p>
                    <p>Ses objectifs sont de vous offrir une prestation de services sur-mesure, conciliant l’ensemble
                        de vos enjeux socio-économiques et humains, afin de répondre à vos besoins de
                        performances et de santé au travail.
                    </p>
                    <p>Fort de son expérience, <b>Ergogene vous propose différents types de prestations</b> pour
                        répondre à vos besoins en fonction vos capacités:
                    </p>
                    <p>
                        - Journée de sensibilisations ou journée d’atelier design thinking<br>
                        - Études et diagnostics<br>
                        - Formations et formations actions<br>
                        - Approche et coaching personnel<br>
                    </p>
                </div>
                <div class="aboutUsVideo column">
                    <video src="/videos/captureColor.mp4" autoplay muted loop></video> 
                </div>
        </article>

        <article class="visitcard container">
            <h2>Maité Kindts</h2>

            <div class="visitcardContent row">
                <div class="visitcardImg column">
                    <img src= "/img/homepage/Maite.webp" alt="FotoMaité">
                </div>

                <div class="visitcardText column">
                    <h2>Maité Kindts</h2>

                    <ul type="disc">
                        <li>Dirigeante cabinet de conseil en organisation de travail et d’ergonomie</li>
                        <li>Ergonome Européen spécialisée en ergotoxicologie</li>
                        <li>Maitrise des technologies:
                            Kimea, Kimea VR, Captiv</li>
                        <li>Intervenant Prévention Risques Professionnels</li>
                        <li>Formation en analyse transactionnelle à l’IAT de Lille</li>
                        <li>Plus de 10 ans d’expérience en ergonomie</li>
                        <li>Enseignante au Conservatoire Nationale des Arts et des Métiers| Lille</li>
                    </ul>

                    <a href="/contact">Contactez-nous</a>
                </div>
            </div>
        </article>
            
        <section class="services container">
            <div class="titleCenter">
                <h2>NOS SERVICES</h2>
            </div>   
            <div class="allServices">
                <div class="service1">
                    <a href="/prestations#service1" aria-label="Journées de Sensibilisation">
                        <img src="img/homepage/service1.webp" alt="Journées de Sensibilisation">
                    </a>
                    <h3>Journées de Sensibilisation</h3>        
                </div>
                <div class="service2">
                    <a href="/prestations#service2" aria-label="Études et Diagnostics">
                        <img src="img/homepage/service2.webp" alt="Études et Diagnostics">
                    </a>
                    <h3>Études et Diagnostics</h3>        
                </div>
                <div class="service3">
                    <a href="/prestations#service3" aria-label="Approche et Coaching Personnel">
                        <img src="img/homepage/service3.webp" alt="Approche et Coaching Personnel">
                    </a>
                    <h3>Approche et Coaching<br>Personnel</h3>        
                </div>
                <div class="service4">
                    <a href="/formations" aria-label="Formations et Formations Actions">
                        <img src="img/homepage/service4.webp" alt="Formations et Formations Actions">
                    </a>
                    <h3>Formations et Formations<br>Actions</h3>       
                </div>
            </div>
        </section>
            
        <section class="methodology container">
            <div class="titleCenter">
                <h2>NOTRE METHODOLOGIE</h2>
            </div>    
            <p>
                Notre méthode s’articule autour de 2 grands axes : <br>
                        - une démarche participative <br>
                        - un devoir de transmissions du savoirs de nos experts
            </p>
            <div class="methodologyContent row">
                <div class="methodologyTextLeft column">
                    <p><strong>La démarche participative</strong></p>
                    <p><strong><u>Pourquoi ?</u></strong></p>
                
                    <p>
                        L’axe de la démarche participative garantie une appropriation du projet et des solutions par
                        les différents acteurs de votre entreprise. Elle permet une conduite de changement
                        intégrative. En effet, autour de votre projet, notre mission est d’animer une construction
                        sociale et pédagogique permettant la mise en dialogue et en confrontation des pratiques et
                        savoirs professionnels, à travers le questionnement du travail effectué.
                    </p>
                    
                    <p><strong>Le devoir de transmission du savoirs de nos experts</strong></p>
                    <p>
                        Ergogene porte dans ces valeurs cette obligation de transmissions de savoirs. Après
                        l’intervention de nos experts, nous souhaitons que vous vous soyez appropriés la démarche
                        et quelle perdure au sein de votre entreprise.
                    </p>
                    <p>
                        Pour atteindre cet objectif, nous garantissons le suivi et la pérennisation des actions
                        initiées à travers la remise des clefs du projet au comité de pilotage. A notre départ, le
                        comité aura un plan, les objectifs et les axes à suivre pour une réussite complète et
                        pérenne du projet.
                    </p>
                </div>

                <div class="methodologyTextRight column">
                    <p><strong><u>Comment ?</u></strong></p>
                    <p>
                        Pour se faire, nos experts mettent en lumière les tenants et les aboutissants des données
                        recueillies ainsi que leurs enjeux au sein de différents espaces de discussions : comité de
                        pilotage, groupe de travail.
                    </p>
                    <p>
                        Au sein de ces espaces, nos experts seront amenés à utiliser différents outils ou typologies
                        d’analyse : données issues de captures en vidéos motion (KIMEA), données biologiques ou
                        physiologiques  (cardio fréquencemetrie ou autres), simulations 3D d’activités ,ateliers de
                        design thinking, maquettes….  
                    </p>
                    <p>
                        Le but est, que ces confrontations de points de vue, autour du travail par ces outils, au cœur
                        de ces espaces, permettent l’émergence de solutions coconstruites, intégrées à votre
                        environnement et acceptées par l’ensemble.
                    </p>
                </div>
            </div>
        </section>

        <section class="methodologyProject container">
            <div class="titleCenter">
                <h2>LA MÉTHODOLOGIE PROJET</h2>
            </div>
            <div class="scale">
                <div class="triangle"></div>
                <div class="phases">
                    <div class="cadrage">
                        <h3>
                            Cadrage de
                            l’intervention
                        </h3>

                            <p>Lancement projet: Analyse de la
                            demande - pré diagnostic</p>

                            <p>Constitution des instances
                            (COPIL, groupes de travail, etc.)</p>

                            <p>Choix de l’action pilote
                            Mobilisation des compétences
                            pluridisciplinaires</p>

                            <p>Planning macro si besoin
                            Communication en interne et
                            externe (réseaux? ) ?</p>
                    </div>

                    <div class="analyse">
                        <h3>
                            Analyses fines sur
                            le terrain
                        </h3>

                        <p>Suivi des équipes<br/>
                        - Captation avec kimea +
                        autres si besoin<br/>
                        - Approche multifactorielle
                        et prise en compte des
                        expositions croisées<br/>
                        - Entretien avec les
                        collaborateurs<br/>
                        - Rencontre de l’ensemble
                        des acteurs jugés
                        nécessaires pour
                        comprendre le
                        fonctionnement<br/>
                        - Analyse de l’ensemble
                        des données collectées
                        </p>
                    </div>

                    <div class="élaboration">
                        <h3>
                            Élaboration et co
                            construction des
                            solutions
                        </h3>

                        <p>
                            Construction des supports et
                            restitution en groupe de travail:<br/>
                            - Des résultats d’analyses<br/>
                            - Co construction des
                            solutions techniques,
                            humaines et
                            organisationnelles<br/>
                            - Développement des savoirs
                            faire ancrés de prudence
                        </p>    
                        <p>Animation des groupes de travail</p>    
                    </div>

                    <div class="restitution">
                        <h3>
                            Restitution
                        </h3>

                        <p>
                            Analyses ergonomiques -
                            Diagnostic - Plan d’action –
                            Animation des restitutions
                        </p>    
                    </div>
                </div>
            </div>
        </section>

        <section class="sectors container">
            <div class="titleCenter">
                <h2>NOS SECTEURS D’ACTIVITÉ</h2>
            </div>
            <p>
                Nous intervenons au sein des TPE, PME, groupes nationales et internationales, les
                associations, les collectivités et administrations ainsi qu’auprès des bureaux d’études ou
                d’architectes.
                Nos interventions ont lieu dans tous les secteurs d’activités. 
            </p>
            <div class="sectors">
                <div class="sector">
                    <span class="check">&#10004;</span>                     
                    <p>agro-alimentaire</p>   
                </div>
                <div class="sector">
                    <span class="check">&#10004;</span>
                    <p>logistiques industries</p>   
                </div>
            
            
                <div class="sector">
                    <span class="check">&#10004;</span>
                    <p>BTP</p>   
                </div>
                <div class="sector">
                    <span class="check">&#10004;</span>
                    <p>distributions/ commerces</p>   
                </div>
            
            
                <div class="sector">
                    <span class="check">&#10004;</span>
                    <p>fonction publique</p>   
                </div>
                <div class="sector">
                    <span class="check">&#10004;</span>
                    <p>recherche et développement</p>   
                </div>
            
                <div class="sector">
                    <span class="check">&#10004;</span>
                    <p>sanitaire et sociale</p>   
                </div>
                <div class="sector">
                    <span class="check">&#10004;</span>
                    <p>toutes activités servicielles</p>   
                </div>    
            </div>
        </section>
    </main>

    <%- include('./components/footer.ejs')%>
        
    <script src="scripts/main.js" defer></script>
</body>
</html>