<!DOCTYPE html>
<html lang="fr">
	<%- include('./components/head.ejs', { title: 'Mentions légales | Ergogene', description: 'Découvrez les mentions légales d&#39;Ergogene, y compris l&#39;identité de l&#39;éditeur, le directeur de la publication, l&#39;hébergeur du site, la politique de confidentialité, les conditions d&#39;utilisation, les informations sur les cookies, les liens externes, la loi applicable et la juridiction compétente, ainsi que le numéro d&#39;enregistrement RCS.' }) %>
<body>
    <%- include('./components/header.ejs') %>
	
		<main class="mentions container">
			<h1>Mentions Légales</h1>
			
			<h2>1. Identité de l'éditeur :</h2>
			<p>Nom de l'entreprise : Ergogene</p>
			<p>Adresse : 51 Rue MATTIOLI, 59135 WALLERS</p>
			<p>Téléphone : 0668167271</p>
			<p>Email : maitekindts@ergogene.fr</p>
		
			<h2>2. Directeur de la publication :</h2>
			<p>Nom du Directeur : Maité Kindts</p>
		
			<h2>3. Hébergeur du site :</h2>
			<p>Nom de l'hébergeur : Hébergeur</p>
			<p>Adresse : 123 Avenue de JESAIPAS, 59000 LILLE</p>
		
			<h2>4. Propriété intellectuelle :</h2>
			<p>Le contenu de ce site est protégé par les lois sur le droit d'auteur.</p>
		
			<h2>5. Politique de confidentialité :</h2>
			<p><a href="/confidentiality">Politique de confidentialité</a></p>
		
			<h2>6. Cookies :</h2>
			<p>Consultez notre <a href="/confidentiality">politique de cookies</a>.</p>
		
			<h2>7. Conditions d'utilisation :</h2>
			<p>Consultez nos <a href="/confidentiality">conditions d'utilisation</a>.</p>
		
			<h2>8. Liens externes :</h2>
			<p>Nous déclinons toute responsabilité concernant les liens externes présents sur ce site.</p>
		
			<h2>9. Loi applicable et juridiction compétente :</h2>
			<p>La loi applicable est la loi française. En cas de litige, la juridiction compétente est le tribunal de
				Paris.</p>
		
			<h2>10. Numéro d'enregistrement :</h2>
			<p>Numéro RCS : 123456789 (Paris)</p>
		</main>

	<%- include('./components/footer.ejs') %>

    <script src="/scripts/main.js"></script>
</body>
</html>
